# Dependencies
node_modules/
.pnpm-store/

# Playwright Test Outputs & Artifacts
test-results/
playwright-report/
playwright/.local-browsers/
allure-results/
allure-report/

# Environment Secrets
.env
.env.*
!.env.example
README.md

# Local Editor Caches
.cache/
.DS_Store
.idea/
.vscode/
